.foreman/foreman_workflow.json
{
  "name": "Foreman",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-foreman",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [4176, 13200],
      "id": "c80a759c-d7d9-45f7-9af0-e444e83723b2",
      "name": "Start",
      "webhookId": "25673ee8-bf54-43e5-9912-6ae2db478f78"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "retry_count",
              "value": "0"
            },
            {
              "name": "max_retries",
              "value": "3"
            },
            {
              "name": "change_requests"
            },
            {
              "name": "transient_retry_builder",
              "value": "0"
            },
            {
              "name": "transient_max_retries_builder",
              "value": "3"
            },
            {
              "name": "transient_retry_inspector",
              "value": "0"
            },
            {
              "name": "transient_max_retries_inspector",
              "value": "3"
            },
            {
              "name": "task_id",
              "value": "={{ $json.body.task_id }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.body.prompt }}"
            },
            {
              "name": "worktree_path",
              "value": "=.oc_worktrees/{{ $json.body.task_id }}"
            },
            {
              "name": "timeStamp",
              "value": "={{(()=>{\n  return DateTime.now().toFormat('yyyyLLdd.HHmm');\n})()}}"
            },
            {
              "name": "mode",
              "value": "={{ (() => {\n  const url = $json.webhookUrl || '';\n  if (url.endsWith('run-foreman')) return 'full';\n  if (url.endsWith('run-inspector')) return 'review';\n  return 'unknown';\n})() }}"
            },
            {
              "name": "builder_pass",
              "value": "1"
            },
            {
              "name": "inspector_pass",
              "value": "0"
            },
            {
              "name": "setup_done",
              "value": "0"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [4400, 13152],
      "id": "3968b0bf-6a53-49f5-a098-179423b11e1d",
      "name": "Initialize Variables"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\nWORKTREE=\"$REPO/{{ $json.worktree_path }}\"\n\nif [ -d \"$WORKTREE\" ] && git -C \"$WORKTREE\" rev-parse --is-inside-work-tree >/dev/null 2>&1; then\n  echo 'exists=true'\nelse\n  echo 'exists=false'\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4848, 13056],
      "id": "502cdf08-9ccb-4c50-8299-50fb54a0c9b3",
      "name": "Check Worktree Exists"
    },
    {
      "parameters": {
        "jsCode": "const stdout = String($input.first().json.stdout || '').trim();\nconst exists = stdout.includes('exists=true');\nreturn [{ worktree_exists: exists }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5072, 13056],
      "id": "194f8c14-2adf-4103-887e-8dac47e83359",
      "name": "Parse Worktree Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6d8c9f0-0d2c-4d10-b962-4d4ccf8b4d10",
              "leftValue": "={{ $json.worktree_exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            },
            {
              "id": "d09a1627-33ab-4e21-8b43-ab2b9cdcca41",
              "leftValue": "={{ $json.worktree_exists }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [5296, 13056],
      "id": "6bd9636a-4c31-4351-b794-171b8ea7a36b",
      "name": "Worktree Exists?"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\ngit -C \"$REPO\" worktree add -b feature/{{ $json.task_id }} \"$REPO/{{ $json.worktree_path }}\" main"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5520, 12912],
      "id": "fbe734cf-c0a7-4255-9309-1b9a7ad289fe",
      "name": "Setup Git Worktree"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\ncd \"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}/components\" && \\\npnpm i"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5744, 13056],
      "id": "4fd973d7-f89f-4df3-93eb-472e62bf8ed3",
      "name": "Setup Repository"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "setup_done",
              "value": "1"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [5968, 13056],
      "id": "af3632f5-edda-4acf-9f93-f6ecf11a5e85",
      "name": "Mark Setup Done"
    },
    {
      "parameters": {
        "command": "=# 1. Define paths\nREPO=\"${FOREMAN_REPO:-$(pwd)}\"\nRUNNER_SCRIPT=\"$REPO/.foreman/tools/agent_runner.py\"\nWORKTREE=\"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\"\nRESUME_URL=\"{{ $execution.resumeUrl }}\"\n\n# 2. Build a prompt file safely (no command substitution)\nPROMPT_FILE=\"$REPO/.foreman/.tmp/builder_{{ $('Initialize Variables').item.json.body.task_id }}.prompt.md\"\nmkdir -p \"$(dirname \"$PROMPT_FILE\")\"\n\nTEMPLATE=\"builder_base_prompt_initial.md\"\nif [ \"{{ $('Initialize Variables').first().json.builder_pass }}\" != \"1\" ]; then\n  TEMPLATE=\"builder_base_prompt_revision.md\"\nfi\n\ncat \"$REPO/.foreman/builder/templates/$TEMPLATE\" > \"$PROMPT_FILE\"\ncat <<'EOF' >> \"$PROMPT_FILE\"\n\nThe user task is:\n{{ $('Initialize Variables').item.json.body.prompt }}\n\n{{ (() => {\n  const cr = $('Initialize Variables').item.json.change_requests || '';\n  if (!cr.trim()) return '';\n  return `The inspector requested changes. Please apply ALL change requests below, then continue.\n\n${cr}\n`;\n})() }}\nEOF\n\n# 3. Execution: run Builder via agent_runner.py using a prompt file\nnohup python3 \"$RUNNER_SCRIPT\" \\\n  --webhook \"$RESUME_URL\" \\\n  --cwd \"$WORKTREE\" \\\n  --agent builder \\\n  --title \"BUILDER {{ $('Initialize Variables').item.json.body.task_id }} {{ $('Initialize Variables').item.json.timeStamp }} b{{ $('Initialize Variables').first().json.builder_pass }}-i{{ $('Initialize Variables').first().json.inspector_pass }}\" \\\n  --prompt-file \"$PROMPT_FILE\" \\\n  > /dev/null 2>&1 &"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [6240, 12496],
      "id": "52613e76-9a05-43da-9d66-ad837ec67c70",
      "name": "Run Builder Agent",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [6432, 12448],
      "id": "e5fb1490-6739-4d04-85f4-32680776dcfa",
      "name": "Wait for Builder",
      "webhookId": "7fae1480-f059-48d9-9a0d-864c586b17a0"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\ncd \"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\" && \\\n  python \"$REPO/.foreman/tools/check_builder_handoff.py\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [6640, 12400],
      "id": "23d7f44b-cb60-4434-9f4e-b4e4feec21c8",
      "name": "Check Builder Handoff"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.stdout || '';\n\nlet result;\ntry {\n  result = JSON.parse(text);\n} catch (e) {\n  throw new Error('Failed to parse handoff JSON: ' + e.message);\n}\n  // n8n expects an array of items\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6864, 12400],
      "id": "4b60c011-27a0-4fc1-aa8f-dbccee76889a",
      "name": "Process the response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f1b27a9b-50f1-4d8e-8ddd-1e15d91dfc71",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "valid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e2b0c6c4-8bbd-4b46-97e2-8f9a469a63f3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "file_missing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1f9aa194-73e4-465d-b7c3-5d31f3d6e0ef",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "invalid_json",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [7088, 12384],
      "id": "b56dce69-4446-4e23-9e74-f1fd169033d7",
      "name": "Builder Result Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a3dd3eb-0c1c-4f0b-bfb8-59f0f2f0b8c0",
              "leftValue": "={{ $json.data.run.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [7312, 12256],
      "id": "dd3c89da-1149-41d5-ac5c-44fd25ce5c3c",
      "name": "Is Builder Run OK"
    },
    {
      "parameters": {
        "jsCode": "const current = parseInt($('Initialize Variables').first().json.transient_retry_builder || '0', 10);\nreturn [{ transient_retry_builder: String(current + 1) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7328, 12720],
      "id": "549bc522-be9c-4d64-8d8c-1e607637ca50",
      "name": "Increment Builder Transient"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3341c2d1-083c-4283-9db1-56aedb5bd956",
              "leftValue": "={{ $json.transient_retry_builder }}",
              "rightValue": "={{ $('Initialize Variables').first().json.transient_max_retries_builder }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [7568, 12736],
      "id": "f1840580-8b3b-48b1-b780-cee372310283",
      "name": "Should Retry Builder Transient"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "transient_retry_builder",
              "value": "={{ $json.transient_retry_builder }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [7920, 12816],
      "id": "11972716-5797-46c0-bda3-defaa55c708c",
      "name": "Persist Builder Transient"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\nWORKTREE=\"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\"\n\ncd \"$WORKTREE\" && \\\ngit diff main...HEAD > inspector_diff.patch"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [7536, 12336],
      "id": "0a6dca8c-3158-482d-a587-e3ce47a86f1f",
      "name": "Create the DIFF"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst fallback = $('Initialize Variables').first().json;\nconst raw = input.inspector_pass ?? fallback.inspector_pass ?? '0';\nconst current = parseInt(String(raw), 10);\nreturn [{ inspector_pass: String(Number.isFinite(current) ? current + 1 : 1) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7760, 12336],
      "id": "83151739-bb76-4f63-970f-1516e74e1732",
      "name": "Increment Inspector Pass (Auto)"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "inspector_pass",
              "value": "={{ $json.inspector_pass }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [7984, 12336],
      "id": "34f1b75a-7700-48ae-b60b-3093175c5b6d",
      "name": "Persist Inspector Pass (Auto)"
    },
    {
      "parameters": {
        "command": "=# 1. Define paths\nREPO=\"${FOREMAN_REPO:-$(pwd)}\"\nRUNNER_SCRIPT=\"$REPO/.foreman/tools/agent_runner.py\"\nWORKTREE=\"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\"\nRESUME_URL=\"{{ $execution.resumeUrl }}\"\n\n# 2. Build a prompt file safely (no command substitution)\nPROMPT_FILE=\"$REPO/.foreman/.tmp/inspector_{{ $('Initialize Variables').item.json.body.task_id }}.prompt.md\"\nmkdir -p \"$(dirname \"$PROMPT_FILE\")\"\n\ncat \"$REPO/.foreman/inspector/templates/inspector_base_prompt.md\" > \"$PROMPT_FILE\"\ncat <<'EOF' >> \"$PROMPT_FILE\"\n\nThe task being reviewed is:\n{{ $('Initialize Variables').item.json.body.prompt }}\nEOF\n\n# 3. Execution: run Inspector via agent_runner.py using a prompt file\nnohup python3 \"$RUNNER_SCRIPT\" \\\n  --webhook \"$RESUME_URL\" \\\n  --cwd \"$WORKTREE\" \\\n  --agent inspector \\\n  --title \"INSPECTOR {{ $('Initialize Variables').item.json.body.task_id }} {{ $('Initialize Variables').item.json.timeStamp }} b{{ $('Initialize Variables').first().json.builder_pass }}-i{{ $('Initialize Variables').first().json.inspector_pass }}\" \\\n  --prompt-file \"$PROMPT_FILE\" \\\n  > /dev/null 2>&1 &"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [8208, 12336],
      "id": "aad7a808-8667-4a5f-83d9-fd2007229c74",
      "name": "Run Inspector Agent",
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [8432, 12256],
      "id": "4140bf5e-b9b1-413f-b869-95e153a73a05",
      "name": "Wait fo Inspector",
      "webhookId": "19eb0f2f-c982-4e12-92f6-be4cdcb74ee9"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\ncd \"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\" && \\\n  python \"$REPO/.foreman/tools/check_inspector_handoff.py\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [8656, 12256],
      "id": "e0b0aa77-f870-4291-88ca-6203845c3773",
      "name": "Check Inspector Handoff"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.stdout || '';\n\nlet result;\ntry {\n  result = JSON.parse(text);\n} catch (e) {\n  throw new Error('Failed to parse handoff JSON: ' + e.message);\n}\n  // n8n expects an array of items\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8880, 12256],
      "id": "e19c9212-5476-4e17-bb59-f854da2da9bf",
      "name": "Process the response1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f0b4c00-f2bd-4b54-b2c7-6c62e4f63c68",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "valid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "41bcb2d2-ad2d-4d2b-856c-06248d2b0a70",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "file_missing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8878bf1f-0b24-4cb1-8c4a-4560b0b1ee45",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "invalid_json",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [9104, 12240],
      "id": "94c212b1-7544-44a1-acf4-4113b17d5f5f",
      "name": "Inspector Result Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96d2b1ab-4d15-48a6-abd6-854d5356cb94",
              "leftValue": "={{ $json.data.run.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [9328, 12136],
      "id": "e4df61ca-6690-4ee0-8363-434efc83d433",
      "name": "Is Inspector Run OK"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2df5974e-7c8d-4f10-a34a-a04ce3d0c2ff",
              "leftValue": "={{ $json.data.work.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [9552, 12208],
      "id": "6fb39de9-4edb-45b1-b4f4-e6e7d143fd43",
      "name": "Is Inspector Approved"
    },
    {
      "parameters": {
        "jsCode": "const current = parseInt($('Initialize Variables').first().json.transient_retry_inspector || '0', 10);\nreturn [{ transient_retry_inspector: String(current + 1) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [9328, 12536],
      "id": "520502b2-e1bc-4405-9389-552e3b0f4550",
      "name": "Increment Inspector Transient"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c69b8f5-0c49-4ee1-8d9d-acde1b0092ef",
              "leftValue": "={{ $json.transient_retry_inspector }}",
              "rightValue": "={{ $('Initialize Variables').first().json.transient_max_retries_inspector }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [9552, 12536],
      "id": "b35516e6-171f-49be-acab-68aff8f08319",
      "name": "Should Retry Inspector Transient"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "transient_retry_inspector",
              "value": "={{ $json.transient_retry_inspector }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [9776, 12688],
      "id": "026c7aa0-ae24-4003-a4c2-25c591813c30",
      "name": "Persist Inspector Transient"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\npython \"$REPO/.foreman/tools/create_pr.py\" \\\n  --task-id \"{{ $('Initialize Variables').first().json.task_id }}\" \\\n  --title \"feat: {{ $('Initialize Variables').first().json.task_id }} implementation\" \\\n  --body \"{{ $('Initialize Variables').first().json.body.prompt }}\" \\\n  --worktree \"$REPO/{{ $('Initialize Variables').first().json.worktree_path }}\" \\\n  --branch \"feature/{{ $('Initialize Variables').first().json.task_id }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [9776, 12128],
      "id": "ac312533-093c-4982-8e46-5eea83a0420c",
      "name": "Create the PR"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\nTASK_ID=\"{{ $('Initialize Variables').first().json.task_id }}\"\n\nWHO=\"builder\"\nif [ \"{{ $json.data.work.status || '' }}\" != \"\" ]; then\n  WHO=\"inspector\"\nfi\n\nREPORT_DIR=\".foreman/failures/$WHO\"\nREPORT_FILE=\"$REPORT_DIR/${TASK_ID}_report.json\"\nmkdir -p \"$REPORT_DIR\"\n\nREASON=\"unknown\"\nif [ \"{{ $json.status }}\" != \"valid\" ]; then\n  REASON=\"result_invalid\"\nelif [ \"{{ $json.data.run.status }}\" != \"ok\" ]; then\n  REASON=\"run_failed\"\nelif [ \"{{ $json.data.work.status || '' }}\" != \"approved\" ]; then\n  REASON=\"changes_requested\"\nelse\n  REASON=\"unexpected\"\nfi\n\npython3 \"$REPO/.foreman/tools/write_foreman_failure_summary.py\" \\\n  --status \"{{ $json.status }}\" \\\n  --reason \"$REASON\" \\\n  --raw-json '{{ JSON.stringify($json) }}' \\\n  > \"$REPORT_FILE\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [10176, 11792],
      "id": "142afa0e-4efa-4159-9d29-4a9a6ba50735",
      "name": "Log Rejection"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = null;\n}\n\nconst work = parsed?.data?.work || {};\nconst issues = Array.isArray(work.issues) ? work.issues : [];\nconst nextTasks = Array.isArray(work.next_tasks) ? work.next_tasks : [];\n\nconst issueText = issues\n  .map((i, idx) => {\n    const sev = i?.severity ? `[${i.severity}] ` : '';\n    const desc = i?.description || '';\n    const paths = Array.isArray(i?.paths) && i.paths.length ? `\\n  Paths: ${i.paths.join(', ')}` : '';\n    return `${idx + 1}. ${sev}${desc}${paths}`.trim();\n  })\n  .filter(Boolean)\n  .join('\\n\\n');\n\nconst nextText = nextTasks.map((t) => `- ${t}`).join('\\n');\n\nconst sections = [];\nif (issueText) sections.push(`ISSUES:\\n${issueText}`);\nif (nextText) sections.push(`NEXT TASKS:\\n${nextText}`);\n\nconst changeRequests = sections.join('\\n\\n');\nconst retry = parseInt($('Initialize Variables').first().json.retry_count || '0', 10);\nreturn [{ change_requests: changeRequests, retry_count: String(retry + 1) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [9776, 12320],
      "id": "e4dc0a44-ff65-4f47-a3ff-bc7f61d9f78b",
      "name": "Update Retry State"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1c1c1c1-1111-2222-3333-444444444444",
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": "={{ $('Initialize Variables').first().json.max_retries }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [10000, 12320],
      "id": "c311767a-3572-4ccf-9849-f980d757312f",
      "name": "Should Retry"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "change_requests",
              "value": "={{ $json.change_requests }}"
            },
            {
              "name": "retry_count",
              "value": "={{ $json.retry_count }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [10224, 12480],
      "id": "64a73e5c-d64a-4d48-9ca6-d8cace9d55ad",
      "name": "Persist Retry Vars"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst fallback = $('Initialize Variables').first().json;\nconst raw = input.builder_pass ?? fallback.builder_pass ?? '1';\nconst current = parseInt(String(raw), 10);\nreturn [{ builder_pass: String(Number.isFinite(current) ? current + 1 : 2) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [10448, 12480],
      "id": "e6b4ddb9-f8d0-425b-bf73-4c365e6f0c23",
      "name": "Increment Builder Pass"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "builder_pass",
              "value": "={{ $json.builder_pass }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [10672, 12840],
      "id": "8240a525-c635-4756-babb-60e94eb2b9d0",
      "name": "Persist Builder Pass"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a7f2f7c-4f14-4c55-92c4-9c2a7f6ba5ac",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "full",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a18e1430-6930-4a56-b8e4-8f519f9b8a1d",
              "leftValue": "={{ $('Initialize Variables').first().json.setup_done }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4624, 13152],
      "id": "4c171d15-9cec-4151-8265-90810364a88b",
      "name": "Setup Gate"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst fallback = $('Initialize Variables').first().json;\nconst raw = input.inspector_pass ?? fallback.inspector_pass ?? '0';\nconst current = parseInt(String(raw), 10);\nreturn [{ inspector_pass: String(Number.isFinite(current) ? current + 1 : 1) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3952, 13008],
      "id": "026af7b7-7521-4934-9696-52f0ff95a0aa",
      "name": "Increment Inspector Pass (Manual)"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "inspector_pass",
              "value": "={{ $json.inspector_pass }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [4176, 13008],
      "id": "4bd7606a-a8b8-443b-8b7f-1cdd53be4e5a",
      "name": "Persist Inspector Pass (Manual)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-inspector",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [3728, 13008],
      "id": "51c3a20a-dcee-4e15-8343-ed5868ce931a",
      "name": "Review",
      "webhookId": "0d33a427-d5ca-4d31-8dda-d8a963a9db4e"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Initialize Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Variables": {
      "main": [
        [
          {
            "node": "Setup Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Gate": {
      "main": [
        [
          {
            "node": "Run Builder Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Worktree Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Worktree Exists": {
      "main": [
        [
          {
            "node": "Parse Worktree Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Worktree Exists": {
      "main": [
        [
          {
            "node": "Worktree Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worktree Exists?": {
      "main": [
        [
          {
            "node": "Setup Repository",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Setup Git Worktree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Inspector Pass (Manual)": {
      "main": [
        [
          {
            "node": "Persist Inspector Pass (Manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Git Worktree": {
      "main": [
        [
          {
            "node": "Setup Repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Repository": {
      "main": [
        [
          {
            "node": "Mark Setup Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Setup Done": {
      "main": [
        [
          {
            "node": "Run Builder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Builder Agent": {
      "main": [
        [
          {
            "node": "Wait for Builder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Builder": {
      "main": [
        [
          {
            "node": "Check Builder Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Builder Handoff": {
      "main": [
        [
          {
            "node": "Process the response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process the response": {
      "main": [
        [
          {
            "node": "Builder Result Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Builder Result Switch": {
      "main": [
        [
          {
            "node": "Is Builder Run OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Builder Transient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Builder Transient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Builder Run OK": {
      "main": [
        [
          {
            "node": "Create the DIFF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Builder Transient": {
      "main": [
        [
          {
            "node": "Should Retry Builder Transient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry Builder Transient": {
      "main": [
        [
          {
            "node": "Persist Builder Transient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Builder Transient": {
      "main": [
        [
          {
            "node": "Run Builder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create the DIFF": {
      "main": [
        [
          {
            "node": "Increment Inspector Pass (Auto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Inspector Pass (Auto)": {
      "main": [
        [
          {
            "node": "Persist Inspector Pass (Auto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Inspector Pass (Auto)": {
      "main": [
        [
          {
            "node": "Run Inspector Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Inspector Agent": {
      "main": [
        [
          {
            "node": "Wait fo Inspector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait fo Inspector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait fo Inspector": {
      "main": [
        [
          {
            "node": "Check Inspector Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Inspector Handoff": {
      "main": [
        [
          {
            "node": "Process the response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process the response1": {
      "main": [
        [
          {
            "node": "Inspector Result Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inspector Result Switch": {
      "main": [
        [
          {
            "node": "Is Inspector Run OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Inspector Transient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Inspector Transient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Inspector Run OK": {
      "main": [
        [
          {
            "node": "Is Inspector Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Inspector Approved": {
      "main": [
        [
          {
            "node": "Create the PR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Retry State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Inspector Transient": {
      "main": [
        [
          {
            "node": "Should Retry Inspector Transient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry Inspector Transient": {
      "main": [
        [
          {
            "node": "Persist Inspector Transient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Inspector Transient": {
      "main": [
        [
          {
            "node": "Run Inspector Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Retry State": {
      "main": [
        [
          {
            "node": "Should Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry": {
      "main": [
        [
          {
            "node": "Persist Retry Vars",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Retry Vars": {
      "main": [
        [
          {
            "node": "Increment Builder Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Builder Pass": {
      "main": [
        [
          {
            "node": "Persist Builder Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Builder Pass": {
      "main": [
        [
          {
            "node": "Run Builder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review": {
      "main": [
        [
          {
            "node": "Increment Inspector Pass (Manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Inspector Pass (Manual)": {
      "main": [
        [
          {
            "node": "Initialize Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bd2c7cd4-2a05-40ce-aa35-d46517f0e6bb",
  "meta": {
    "instanceId": "b11168fb8d2189bb65765ba38337a8f759c5093954de979172c9be19e0a9355a"
  },
  "id": "zJD1NAj5NGGDGbPmWurIz",
  "tags": []
}
