.foreman/foreman_workflow.json
{
  "name": "Foreman",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-foreman",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [4352, 1680],
      "id": "b930395f-6c49-4e3d-93a4-66d043eda0b7",
      "name": "Start",
      "webhookId": "25673ee8-bf54-43e5-9912-6ae2db478f78"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "retry_count",
              "value": "0"
            },
            {
              "name": "max_retries",
              "value": "3"
            },
            {
              "name": "change_requests"
            },
            {
              "name": "task_id",
              "value": "={{ $json.body.task_id }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.body.prompt }}"
            },
            {
              "name": "worktree_path",
              "value": "=.oc_worktrees/{{ $json.body.task_id }}"
            },
            {
              "name": "timeStamp",
              "value": "={{(()=>{\n  return DateTime.now().toFormat('yyyyLLdd.HHmm');\n})()}}"
            },
            {
              "name": "mode",
              "value": "={{ (() => {\n  const url = $json.webhookUrl || '';\n  if (url.endsWith('run-foreman')) return 'full';\n  if (url.endsWith('run-inspector')) return 'review';\n  return 'unknown';\n})() }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [4640, 1808],
      "id": "c0400830-9b2e-42f5-a006-2a77bf23aae8",
      "name": "Initialize Variables"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\ngit -C \"$REPO\" worktree add -b feature/{{ $json.task_id }} \"$REPO/{{ $json.worktree_path }}\" main"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5056, 1680],
      "id": "69e06f59-191e-4740-a417-056a07184f0b",
      "name": "Setup Git Worktree"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\ncd \"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}/components\" && \\\npnpm i"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5232, 1680],
      "id": "fd12ef5f-658d-4f8d-bb7b-c75da70ae308",
      "name": "Setup Repository"
    },
    {
      "parameters": {
        "command": "=# 1. Define paths\nREPO=\"${FOREMAN_REPO:-$(pwd)}\"\nRUNNER_SCRIPT=\"$REPO/.foreman/tools/agent_runner.py\"\nWORKTREE=\"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\"\nRESUME_URL=\"{{ $execution.resumeUrl }}\"\n\n# 2. Build a prompt file safely (no command substitution)\nPROMPT_FILE=\"$REPO/.foreman/.tmp/builder_{{ $('Initialize Variables').item.json.body.task_id }}.prompt.md\"\nmkdir -p \"$(dirname \"$PROMPT_FILE\")\"\n\ncat \"$REPO/.foreman/builder/templates/builder_base_prompt.md\" > \"$PROMPT_FILE\"\ncat <<'EOF' >> \"$PROMPT_FILE\"\n\nThe user task is:\n{{ $('Initialize Variables').item.json.body.prompt }}\n\n{{ (() => {\n  const cr = $('Initialize Variables').item.json.change_requests || '';\n  if (!cr.trim()) return '';\n  return `The inspector requested changes. Please apply ALL change requests below, then continue.\n\n${cr}\n`;\n})() }}\nEOF\n\n# 3. Execution: run Builder via agent_runner.py using a prompt file\nnohup python3 \"$RUNNER_SCRIPT\" \\\n  --webhook \"$RESUME_URL\" \\\n  --cwd \"$WORKTREE\" \\\n  --agent builder \\\n  --title \"BUILDER {{ $('Initialize Variables').item.json.body.task_id }} {{ $('Initialize Variables').item.json.timeStamp }}\" \\\n  --prompt-file \"$PROMPT_FILE\" \\\n  > /dev/null 2>&1 &"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5552, 1680],
      "id": "a00d2b18-a28a-45fd-94c8-e7929a99fcad",
      "name": "Run Builder Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5744, 1680],
      "id": "777e130f-ae14-4655-8e10-d1a269094f12",
      "name": "Wait for Builder",
      "webhookId": "7fae1480-f059-48d9-9a0d-864c586b17a0"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\ncd \"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\" && \\\n  python \"$REPO/.foreman/tools/check_builder_handoff.py\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5072, 1904],
      "id": "cb0b3f5f-3533-4b41-bae9-8d835083678e",
      "name": "Check Builder Handoff"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.stdout || '';\n\nlet result;\ntry {\n  result = JSON.parse(text);\n} catch (e) {\n  throw new Error('Failed to parse handoff JSON: ' + e.message);\n}\n  // n8n expects an array of items\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5264, 1904],
      "id": "72bbbf35-fdf0-4b30-8302-672602bfdd5c",
      "name": "Process the response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "90ec06b4-7f79-490b-8459-b93dddfcad09",
              "leftValue": "={{ $json.status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2e9ba515-993c-4378-a68f-b6ff997fa2cc",
              "leftValue": "={{ $json.data.run.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [5472, 1904],
      "id": "0d5bbd61-137b-496f-8243-43bf4805fce4",
      "name": "Is Builder OK"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\nWORKTREE=\"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\"\n\ncd \"$WORKTREE\" && \\\ngit diff main...HEAD > inspector_diff.patch"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5712, 1904],
      "id": "4e99c9c2-20cb-4e11-afdc-95752551cf01",
      "name": "Create the DIFF"
    },
    {
      "parameters": {
        "command": "=# 1. Define paths\nREPO=\"${FOREMAN_REPO:-$(pwd)}\"\nRUNNER_SCRIPT=\"$REPO/.foreman/tools/agent_runner.py\"\nWORKTREE=\"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\"\nRESUME_URL=\"{{ $execution.resumeUrl }}\"\n\n# 2. Build a prompt file safely (no command substitution)\nPROMPT_FILE=\"$REPO/.foreman/.tmp/inspector_{{ $('Initialize Variables').item.json.body.task_id }}.prompt.md\"\nmkdir -p \"$(dirname \"$PROMPT_FILE\")\"\n\ncat \"$REPO/.foreman/inspector/templates/inspector_base_prompt.md\" > \"$PROMPT_FILE\"\ncat <<'EOF' >> \"$PROMPT_FILE\"\n\nThe task being reviewed is:\n{{ $('Initialize Variables').item.json.body.prompt }}\nEOF\n\n# 3. Execution: run Inspector via agent_runner.py using a prompt file\nnohup python3 \"$RUNNER_SCRIPT\" \\\n  --webhook \"$RESUME_URL\" \\\n  --cwd \"$WORKTREE\" \\\n  --agent inspector \\\n  --title \"INSPECTOR {{ $('Initialize Variables').item.json.body.task_id }} {{ $('Initialize Variables').item.json.timeStamp }}\" \\\n  --prompt-file \"$PROMPT_FILE\" \\\n  > /dev/null 2>&1 &"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5872, 1904],
      "id": "0ab49706-6cec-494d-a140-e0592f9b708e",
      "name": "Run Inspector Agent",
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5072, 2176],
      "id": "7f6b703f-13ce-492f-b71f-16b750297bbc",
      "name": "Wait fo Inspector",
      "webhookId": "19eb0f2f-c982-4e12-92f6-be4cdcb74ee9"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\ncd \"$REPO/{{ $('Initialize Variables').item.json.worktree_path }}\" && \\\n  python \"$REPO/.foreman/tools/check_inspector_handoff.py\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5280, 2176],
      "id": "473c93de-d60b-4a37-8a3e-454da0ba6750",
      "name": "Check Inspector Handoff"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.stdout || '';\n\nlet result;\ntry {\n  result = JSON.parse(text);\n} catch (e) {\n  throw new Error('Failed to parse handoff JSON: ' + e.message);\n}\n  // n8n expects an array of items\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5504, 2176],
      "id": "a39d1fa8-23ae-4c54-b10b-56c9a7943ba3",
      "name": "Process the response1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e4238de8-6dfb-4cf6-b62b-1b4df22407eb",
              "leftValue": "={{ $json.status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0a71aede-43b0-4f73-9570-798181800b51",
              "leftValue": "={{ $json.data.run.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ebce3b67-55cd-4285-a8a6-6c6c5758a8f0",
              "leftValue": "={{ $json.data.work.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [5696, 2176],
      "id": "f73afa94-fc0a-438a-845e-d9fc69459b77",
      "name": "Is Inspector OK"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\n\npython \"$REPO/.foreman/tools/create_pr.py\" \\\n  --task-id \"{{ $('Initialize Variables').first().json.task_id }}\" \\\n  --title \"feat: {{ $('Initialize Variables').first().json.task_id }} implementation\" \\\n  --body \"{{ $('Initialize Variables').first().json.body.prompt }}\" \\\n  --worktree \"$REPO/{{ $('Initialize Variables').first().json.worktree_path }}\" \\\n  --branch \"feature/{{ $('Initialize Variables').first().json.task_id }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [6736, 1952],
      "id": "e64625c2-65ae-47b6-8268-08871582dc7a",
      "name": "Create the PR"
    },
    {
      "parameters": {
        "command": "=REPO=\"${FOREMAN_REPO:-$(pwd)}\"\nTASK_ID=\"{{ $('Initialize Variables').first().json.task_id }}\"\n\nWHO=\"builder\"\nif [ \"{{ $json.data.work.status || '' }}\" != \"\" ]; then\n  WHO=\"inspector\"\nfi\n\nREPORT_DIR=\".foreman/failures/$WHO\"\nREPORT_FILE=\"$REPORT_DIR/${TASK_ID}_report.json\"\nmkdir -p \"$REPORT_DIR\"\n\nREASON=\"unknown\"\nif [ \"{{ $json.status }}\" != \"valid\" ]; then\n  REASON=\"result_invalid\"\nelif [ \"{{ $json.data.run.status }}\" != \"ok\" ]; then\n  REASON=\"run_failed\"\nelif [ \"{{ $json.data.work.status || '' }}\" != \"approved\" ]; then\n  REASON=\"changes_requested\"\nelse\n  REASON=\"unexpected\"\nfi\n\npython3 \"$REPO/.foreman/tools/write_foreman_failure_summary.py\" \\\n  --status \"{{ $json.status }}\" \\\n  --reason \"$REASON\" \\\n  --raw-json '{{ JSON.stringify($json) }}' \\\n  > \"$REPORT_FILE\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [6736, 1760],
      "id": "49b987eb-7f5a-4ae7-a1ca-2ce27997de48",
      "name": "Log Rejection"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = null;\n}\n\nconst work = parsed?.data?.work || {};\nconst issues = Array.isArray(work.issues) ? work.issues : [];\nconst nextTasks = Array.isArray(work.next_tasks) ? work.next_tasks : [];\n\nconst issueText = issues\n  .map((i, idx) => {\n    const sev = i?.severity ? `[${i.severity}] ` : '';\n    const desc = i?.description || '';\n    const paths = Array.isArray(i?.paths) && i.paths.length ? `\\n  Paths: ${i.paths.join(', ')}` : '';\n    return `${idx + 1}. ${sev}${desc}${paths}`.trim();\n  })\n  .filter(Boolean)\n  .join('\\n\\n');\n\nconst nextText = nextTasks.map((t) => `- ${t}`).join('\\n');\n\nconst sections = [];\nif (issueText) sections.push(`ISSUES:\\n${issueText}`);\nif (nextText) sections.push(`NEXT TASKS:\\n${nextText}`);\n\nconst changeRequests = sections.join('\\n\\n');\nconst retry = parseInt($('Initialize Variables').first().json.retry_count || '0', 10);\nreturn [{ change_requests: changeRequests, retry_count: String(retry + 1) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6336, 2176],
      "id": "30dd42b9-7be0-4ea2-b55c-60fd949e1190",
      "name": "Update Retry State"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1c1c1c1-1111-2222-3333-444444444444",
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": "={{ $('Initialize Variables').first().json.max_retries }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [6528, 2176],
      "id": "42b76437-7ad2-4eba-997b-2969735e9bdb",
      "name": "Should Retry"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "change_requests",
              "value": "={{ $json.change_requests }}"
            },
            {
              "name": "retry_count",
              "value": "={{ $json.retry_count }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [6752, 2176],
      "id": "1a551bdb-e78d-4ce3-87de-b37d03591859",
      "name": "Persist Retry Vars"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "full",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8ad8fcbe-21de-4473-bebb-ec4019dedcd4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "275c73f6-2b12-46a9-849d-1ae68bd8f94a",
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "review",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [4832, 1808],
      "id": "73cd8380-9758-4b98-b287-325018281600",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-inspector",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [4352, 1968],
      "id": "0683f834-3118-4851-b796-7861c8b79f3c",
      "name": "Review",
      "webhookId": "0d33a427-d5ca-4d31-8dda-d8a963a9db4e"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Initialize Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Variables": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Setup Git Worktree",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Builder Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Git Worktree": {
      "main": [
        [
          {
            "node": "Setup Repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Repository": {
      "main": [
        [
          {
            "node": "Run Builder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Builder Agent": {
      "main": [
        [
          {
            "node": "Wait for Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Builder": {
      "main": [
        [
          {
            "node": "Check Builder Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Builder Handoff": {
      "main": [
        [
          {
            "node": "Process the response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process the response": {
      "main": [
        [
          {
            "node": "Is Builder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Builder OK": {
      "main": [
        [
          {
            "node": "Create the DIFF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create the DIFF": {
      "main": [
        [
          {
            "node": "Run Inspector Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Inspector Agent": {
      "main": [
        [
          {
            "node": "Wait fo Inspector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait fo Inspector": {
      "main": [
        [
          {
            "node": "Check Inspector Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Inspector Handoff": {
      "main": [
        [
          {
            "node": "Process the response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process the response1": {
      "main": [
        [
          {
            "node": "Is Inspector OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Inspector OK": {
      "main": [
        [
          {
            "node": "Create the PR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Retry State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Retry State": {
      "main": [
        [
          {
            "node": "Should Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry": {
      "main": [
        [
          {
            "node": "Persist Retry Vars",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Retry Vars": {
      "main": [
        [
          {
            "node": "Run Builder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review": {
      "main": [
        [
          {
            "node": "Initialize Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d688dabf-833b-4875-a535-b58fb805e55d",
  "meta": {
    "instanceId": "b11168fb8d2189bb65765ba38337a8f759c5093954de979172c9be19e0a9355a"
  },
  "id": "cv-zd6S-OH7kCiTmLAvMb",
  "tags": []
}
